<a href="https://colab.research.google.com/github/apple-pie-h/FDS-LAB-Works/blob/main/Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab 2: Hypothesis tests (eg: t-tests, Z-tests) on sample datasets to compare population means

##One-Sample t-Test

In [2]:
import numpy as np
import scipy.stats as stats

In [4]:
#data
scores=[78,72,74,76,73,79,77,71,70.74]
population_mean=75
n=len(scores)

In [5]:
#sample statistics
sample_mean=np.mean(scores)
sample_std=np.std(scores,ddof=1)

In [6]:
#calculate t-statistic
t_stat=(sample_mean-population_mean)/(sample_std/np.sqrt(n))

In [8]:
#degree of freedom
df=n-1
#two tailed p-value
p_value=2*stats.t.sf(abs(t_stat),df)
#results
print(f"Sample Mean:{sample_mean:.2f}")
print(f"t-statistic: {t_stat:.2f}")
print(f"p-value: {p_value:.4f}")

Sample Mean:74.53
t-statistic: -0.46
p-value: 0.6575

In [9]:
if p_value < 0.05:
  print("Reject the null hypothesis: The sample mean is significantly different.")
else:
  print("Fail to reject the null hypothesis: No significant difference.")

Fail to reject the null hypothesis: No significant difference.

##Two-Sample t-Test

In [10]:
#Data
class_a=[85,88.90,92,86,84,87,89.91,93]
class_b=[78,80,82,79,81,77,83,76,75,80]

In [11]:
#two sample t-test
t_stat, p_value = stats.ttest_ind(class_a, class_b, equal_var=False)

In [12]:
# Results
print(f"t-statistic:{t_stat:.2f}")
print(f"p-value: {p_value:.4f}")
if p_value < 0.05:
  print("Reject the null hypothesis: The means are significantly different.")
else:
  print("Fail to reject the null hypothesis: No significant difference.")

t-statistic:6.43
p-value: 0.0000
Reject the null hypothesis: The means are significantly different.

#One-Sample z-Test

In [13]:
#Data
sample_mean=495
population_mean=500
population_std=10
n=40

In [14]:
#calculate z-statistic
z_stat = (sample_mean - population_mean) / (population_std / np.sqrt(n))

In [15]:
# Calculate p-value (two-tailed)
p_value = 2 *stats.norm.sf(abs(z_stat))

In [16]:
# Results
print(f"z-statistic:{z_stat:.2f}")
print(f"p-value: {p_value:.4f}")

z-statistic:-3.16
p-value: 0.0016

In [17]:
if p_value < 0.05:
  print("Reject the null hypothesis: The sample mean is significantly different.")
else:
  print("Fail to reject the null hypothesis: No significant difference.")

Reject the null hypothesis: The sample mean is significantly different.

##Two-Sample z-Test

In [18]:
# Data
mean1, std1, n1 = 495, 10, 50
mean2, std2, n2 = 500, 12, 60

In [19]:
# Calculate z-statistic
z_stat = (mean1 - mean2) / ((std1**2 / n1 + std2**2 / n2) ** 0.5)

In [21]:
# Two-tailed p-value
p_value = 2 * stats.norm.sf(abs(z_stat))

In [22]:
# Results
print(f"z-statistic:{z_stat:.2f}")
print(f"p-value: {p_value:.4f}")

z-statistic:-2.38
p-value: 0.0171

In [23]:
if p_value < 0.05:
  print("Reject the null hypothesis: The means are significantly different.")
else:
  print("Fail to reject the null hypothesis: No significant difference.")

Reject the null hypothesis: The means are significantly different.