<a href="https://colab.research.google.com/github/apple-pie-h/Foundation-of-Data-Science-FDS---LAB-Work-IOE-/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables and Data Types

## Question 1: Create a variable age with value 25. Print whether it's an integer.

In [ ]:
age=25
print(type(age))

<class 'int'>

##Question 2: Store your name in a variable and print the first character.

In [ ]:
name="apple"
print(name[0])

a

## Question 3: Make a list of three fruits and print the second one.*italicized text*

In [ ]:
fruits=["apple","banana","mango"] #list
print(fruits[1])

banana

##Question 4: Create variables for your name, age and GPA. Print them in a single sentence.

In [ ]:
name="Apple"
age=3
gpa=2.3
print(f'My name is {name}, I am {age} years old, and my GPA is {gpa}.') #use of f-strings

My name is Apple, I am 3 years old, and my GPA is 2.3.

##Question 5: Make a list of 5 cities. Print the first and last city.

In [ ]:
cities=["Pokhara", "Kathmandu", "Butwal","Biratnagar","Dharan"]
print(cities[0],cities[-1])

Pokhara Dharan

# Basic Operators and String Operations

## Question 1: Add two numbers and multiply the result by 5.

In [ ]:
x=10
y=3
result=(x+y)*5
print(result)

65

##Question 2: Concatenate two string with a space in between

In [ ]:
first="Hello"
second="World"
print(first+" "+second)

Hello World

##Question 3: Repeat a string 3 times.

In [ ]:
word="Python"
print(word*3)

PythonPythonPython

##Question 4: WAP to calculate the area of a rectangle (length x width).

In [ ]:
length=12
width=5
area=length*width
print("area:",area)

area: 60

##Question 5: Given a string "Programming", print the first 6 characters.

In [ ]:
word="Programming"
print(word[:6])

Progra

#Conditional Statements and Loops

## Question 1: WAP that checks if a number is positive, negative, or zero

In [ ]:
num=-5
if num>0:
  print("positive")
elif num<0:
  print("negative")
else:
  print("zero")

negative

## Question 2: Print numbers from 1 to 5 using a for loop.

In [ ]:
for i in range (1,6):
  print(i)

1
2
3
4
5

## Question 3: Use a while loop to print numbers until 3.

In [ ]:
count=1
while count<=3:
  print(count)
  count+=1

1
2
3

##Question 4: WAP that checks if the number is even or odd.

In [ ]:
num=7
if num%2==0:
  print("Even")
else:
  print("Odd")

Odd

##Question 5: Input a score and print grade.

In [ ]:
score=82
if score>=90:
  print("Grade A")
elif score>=75:
  print("Grade B")
elif score>=50:
  print("Grade C")
else:
  print("Fail")

Grade B

##Question 6: Print the multiplication table of 5 using a for loop.

In [ ]:
for i in range(1,11):
  print(f'5 x {i} = {5*i}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

##Question 7: Use a while loop to calculate the sum of numbers from 1 to 10.

In [ ]:
total=0
i=1
while i<=10:
  total+=i
  i+=1
print(total)

55

#Functions and Modules

## Question 1: Write a function that takes two numbers and returns their sum.

In [ ]:
def add_numbers(a,b):
  return a+b

print(add_numbers(4,6)) #out of the function

10

##Question 2: Import the math module and find the square root of 16.

In [ ]:
import math #importing math functions
print(math.sqrt(16))

4.0

##Question 3: Create a function that prints "Hello, Python!" and call it.

In [ ]:
def greet():
  print("Hello, Python!")

greet() #function call

Hello, Python!

## Question 4: Write a function that calculates the factorial of a number.

In [ ]:
def factorial(n):
  result=1
  for i in range(1,n+1):
    result*=i
  return result

print(factorial(5))

120

##Question 5: Import the math module and calculate the value of pi rounded to 3 decimal places.

In [ ]:
import math
print(round(math.pi,3))

3.142

# Some exercises

##Question 1: WAP to find if the given number is prime or not.

In [ ]:
a=int(input()) #taking input from the user
if a>1:
  for i in range(2,a):
    if a%i==0:
      print("Not Prime")
      break
  else:
    print("Prime")
else:
  print("Not Prime")

4
Not Prime

##Question 2: WAP to check if the given number is palindrome or not.

In [ ]:
n=int(input())
s=n
r=0
while n!=0:
  a=n%10
  r=r*10+a
  n=int(n/10)
if r==s:
  print("Palindrome")
else:
  print("Not Palindrome")

121
Palindrome

##Question 3: WAP to check if the given number is Armstrong or not.

In [ ]:
n=int(input())
s=n
r=0
c= len(str(abs(n))) #counting the number of digits in the given number
while n!=0:
  a=n%10
  r+=pow(a,c)
  n=int(n/10)
if r==s:
  print("Armstrong")
else:
  print("Not Armstrong")

153
Armstrong

##Question 4: WAP to check if the given strings are anagram or not.

In [ ]:
def is_anagram(s1, s2):
    s1 = s1.replace(" ", "").lower()
    s2 = s2.replace(" ", "").lower()
    return sorted(s1) == sorted(s2)

print(is_anagram("listen", "silent"))  # True
print(is_anagram("hello", "world"))    # False

True
False

##Question 5: WAP to find a maximum of two numbers

In [ ]:
n=int(input())
m=int(input())
if n>m:
  print(f'{n} is maximum')
else:
  print(f'{m} is maximum')

4
3
4 is maximum

##Question 6: WAP to find the minimum of two numbers.

In [ ]:
n=int(input())
m=int(input())
if n>m:
  print(f'{m} is minimum')
else:
  print(f'{n} is minimum')

2
1
1 is minimum

##Question 7: WAP to find a Fibonacci upto a given number.

In [ ]:
n = int(input("Enter number of terms: "))
a, b = 0, 1

for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms: 45
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733

##Question 8: WAP to find GCD of two numbers.

In [ ]:
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

print("GCD =", gcd(num1, num2))

Enter first number: 4
Enter second number: 8
GCD = 4

##Question 9: WAP to demonstrate exception handling in python.

In [ ]:
try:
    a = int(input("Enter a number: "))
    b = int(input("Enter another number: "))
    result = a / b
    print("Result:", result)

except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")

except ValueError:
    print("Error: Please enter valid integers.")

else:
    print("Division successful.")

finally:
    print("Program execution completed.")

Enter a number: 4
Enter another number: 5
Result: 0.8
Division successful.
Program execution completed.